.uber-button {
    background-color: black;
    color: white;
    border: none;
    height: 40px;
    width: 110px;
    cursor: pointer;
}
.amazon-button {
    background-color: rgb(255, 216, 20);
    border: none;
    height: 40px;
    width: 150px;
    border-radius: 20px;
    cursor: pointer;

}
.github-button {
    background-color: rgb(46, 164, 79);
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: none;
    height: 40px;
    width: 90px;
    border-radius: 5px;
    cursor: pointer;
}
.get-started-button {
    background-color: rgb(121, 82, 179);
    color: white;
    font-weight: bold;
    border: none;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}
.download-button {
    background-color: white;
    color: rgb(108, 117, 125);
    font-weight: bold;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(108, 117, 125);
    height: 40px;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
}
.apply-button {
    background-color: rgb(10, 102, 194);
    color: white;
    font-size: 15px;
    font-weight: bold;
    height: 40px;
    width: 230px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 5px;
}
.save-button {
    background-color: white;
    color: rgb(10, 102, 194);
    font-size: 15px;
    font-weight: bold;
    height: 40px;
    width: 80px;
    border-color: rgb(10, 102, 194);
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    cursor: pointer;
}
.amazon-link {
    color: rgb(0, 113, 133);
}
.title {
    font-size: 25px;
    font-weight: bold;
}
.stock-para {
    color: rgb(0, 118, 0);
    font-weight: bold;
}
.cart-button {
    background-color: rgb(255, 216, 20);
    font-size: 15px;
    border: none;
    height: 35px;
    width: 130px;
    border-radius: 20px;
    margin-right: 5px;
    cursor: pointer;
}
.buy-button {
    background-color: rgb(255, 164, 28);
    font-size: 15px;
    border: none;
    height: 35px;
    width: 130px;
    border-radius: 20px;
    cursor: pointer;
}