body {
    height: 3000px;
}
.right-sidebar-14d {
    position: fixed;
    background-color: green;
    color: white;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100px;
}
.overlay-14d {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-14d {
    background-color: white;
    width: 300px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
}
.modal-title-14d {
    font-family: Arial;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
}
.modal-content-14d {
    font-family: Arial;
    margin-bottom: 10px;
}